<!DOCTYPE html>
<html>
  <title>Enfes Yemek Tarifleri</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      </head>
  
  
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <body>
    <!-- Sitenin Giriş Barı -->
    <html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}


.navbar a {
  float: left;
  text-align: center;
  padding: 25px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}



.navbar a:hover {
  background-color: #000;
}


.active {
  background-color: #4CAF50;
}


@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
</style>
</head>
<body>

  <div class="navbar">
    <div class="topnav" id="myTopnav">
    <a class="active" href='/yemekSite'><i class="fa fa-fw fa-home"></i> Ana Sayfa</a>
    <a href='/yemekekle' ><i class="	fa fa-edit"></i> Yemek Ekle</a>
    <a href="/eniyisefler"><i class="fa fa-american-sign-language-interpreting"></i> En İyi Şefler</a>
    <a href='/kayit'><i class="fa fa-address-book"></i> Kayıt Ol</a>
    <a href='/giris'><i class="fa fa-fw fa-user"></i> Giriş Yap</a>
    <a href='/kapat'><i class="fa fa-close"></i> Çıkış Yap</a>
  </div>
</div>

    {% block icerik %} {% endblock %}

    <!-- Sosyal medya adresleri/footer -->

    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
      <h4>Sosyal Medya Adreslerimiz</h4>
      <a href="/" class="w3-button w3-black w3-margin"
        ><i class="fa fa-arrow-up w3-margin-right"></i>Ana Sayfa</a
      >
      <div class="w3-xlarge w3-section">
        <a href="https://www.facebook.com/"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://twitter.com/"><i class="fa fa-twitter w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/?hl=tr"><i class="fa fa-instagram w3-hover-opacity"></i></a>

      </div>
    </footer>

    <script>
      // Slideshow
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs((slideIndex += n));
      }

      function currentDiv(n) {
        showDivs((slideIndex = n));
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demodots");
        if (n > x.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
      }
    </script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
      function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
  </body>
</html>
